
/*	#popBG {
		border:1px black solid;
		width:80%;
		height:65%;
		position: absolute;
		top:20%;
		bottom:20%;
		left:20%;
		right:20%;
		margin:20px;
	}*/
.container {
	margin:0px;
}
p {
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	color:#FFF;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
}
p::before{

}
#fullBody {
	border: 1px ;
	border-radius: 100px;
	position:absolute;
	top:10%;
	left:5%;
	right:5%;
	bottom:10%;
	background-color:#61b18c;


}
#titleText p {
	font-size: 60px;
	margin:0px;
	padding:0px;
	position:relative;
	top:40px;
}

#popBG {
	border: 1px ;
	position: relative;
	top:80px;
	margin:0px;
	max-height: auto;
	width:100%;
	
	
}

#popBGleft {
	border:1px;
	margin: 4px,7px,4px,7px;
	float:left;
	width:59%;
	color:black;

}
/*#popBGleft p {
	color:black;
}*/
#preLocation {
	font-size:40px;
	position: relative;
	top:30px;
	padding:0px;
	margin:0px;
	/*color:black;*/
}
.preBet {
	font-size: 30px;
	margin:0px;
	padding:0px;
	position:relative;
	top:-25px;
}
.preBet2 {
	font-size: 30px;
	margin:0px;
	padding:0px;
	position:relative;
	top:-65px;
}
.preDate {
	position:relative;
	top:-45px;
}
.preDate2 {
	position:relative;
	top:-75px;
}
#popBGright {
	border:1px;
	border-radius:4px;
	margin: 4px,7px,4px,7px;
	float:right;
	width:40%;
	max-height:100%;
	padding:0px;
}
#popBGright img {
	max-width: 100%;
	max-height:100%;
	border:1px;
	border-radius:20px;
	position:relative;
	top:50px;
}

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
	margin:0;
	padding:0;
	border:1px white;
	border-spacing:0;
	border-radius:1;
}
.ui-datepicker {
    display: none;
    width: 294px;
    padding: 35px;
    cursor: default;
 	
    text-transform: uppercase;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
 	color:white;
   /* background: #141517;*/
 
   /* -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
 
    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);*/
}
/*.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';
 
    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}*/
.ui-datepicker-prev,
.ui-datepicker-next {
	display:none;
}
.ui-datepicker-title {
	position:relative;
	left:120px;
	margin:0px;
}
.ui-datepicker th span {
	margin:5px;
}

.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 10px;
 	margin:5px;
    text-align: center;
    font-weight: normal;
    /*color: #a8a8a8;*/

}

.ui-datepicker-calendar td {
    padding: 0 7px;
 
    text-align: center;
    line-height: 26px;
}
 
.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 26px;
    outline: none;
 
    text-decoration: none;
    color: white;
 
    border: 1px solid transparent;
}

.ui-datepicker-calendar .ui-state-active {
    color: #6a9113;
    border: 1px solid #6a9113;
}
 
.ui-datepicker-other-month .ui-state-default { color: #565656; }

.ui-datepicker-calendar td {
	font-size: 35px;
}

#calendar {
	position:relative;
	left:60px;
	top:-25px;
	border:1px;

}
hr {
	width:50%;
	margin:4px;
	position:relative;
	left:170px;
}